<!DOCTYPE HTML>
<html lang="en">

<head>
<meta charset="utf8">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css">
</head>
<body>
  <div class="container">
  <%= yield %>
  </div>
</body>
