<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Sorry, the page you were looking for does not exist</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 col-sm-offset-5">
    <a class="btn btn-primary btn-block" href="/">Back To Lists</a>
  </div>
</div>
